<%-  include("partials/head.ejs")    %>
  <%-  include("partials/navAdminSide.ejs")    %>
<body>
  <div class="container">
      <div class="row">
          <div class="col-12 mb-3 mb-lg-5">
              <div class="overflow-hidden card table-nowrap table-card">
                  <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Registered Users</h5>
                  </div>
                  <div class="table-responsive">
                      <table class="table mb-0">
                          <thead class="small text-uppercase bg-body text-muted">
                              <tr>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th>Username</th>
                                  <th>Phone</th>
                                  
                                  <th class="text-end">Action</th>
                              </tr>
                          </thead>
                        <% for (let i of users) { %>
                          <tbody>
                              <tr class="align-middle">
                                  <td>
                                      <div class="d-flex align-items-center">
                                          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                                          <div>
                                              <div class="h6 mb-0 lh-1"><%=i.FirstName%> <%=i.LastName%></div>
                                          </div>
                                      </div>
                                  </td>
                                  <td><%=i.Email%></td>
                                  <td> <span class="d-inline-block align-middle"><%=i.UserName%></span></td>
                                  <td><span><%=i.Phone%></span></td>
                                  <td class="text-end">
                                    <a class="btn btn-danger" href="/DeleteUser?CustomerID=<%= i.CustomerID %>">Delete</a>
                                  </td>
                              </tr>
                          </tbody>
                            
                        <% } %>
                          
                        
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
</body>
</html>