<%-  include("partials/head.ejs")    %>
<body>
  <%-  include("partials/navAdminSide.ejs")    %>
  <h1>Registered Users</h1>
  <% for (let i of users) { %>
    <p>
      Username:
      <span><%= i.UserName %> 
        <br>
        Name: <%= i.FirstName %> <%= i.LastName %></span>
          <input type="radio" onclick="javascript:window.location.href='/DeleteUser?CustomerID=<%= i.CustomerID %>'; return false;" />Delete
    </p>
  <% } %>

</body>
</html>