<%-  include("partials/head.ejs")    %>
<body>
  

    <h2> Update Product </h2>


  <form method="POST" autocomplete="off">
    <input name="ProductID" type="hidden" value = "<%=productInfo.ProductID%>">
    <br>

     Name:
    <input name="Name" type="text" value = "<%=productInfo.Name%>">
    <br>

    Description:
    <br>
    <textarea name="Description" type="text"><%=productInfo.Description%></textarea>
    <br>

    Price:
    <input type="number" step="0.01" name="Price" value = "<%=productInfo.Price%>">
    <br>

    Quantity Available:
    <input type="number" name="QuantityAvailable" value = "<%=productInfo.QuantityAvailable%>">
    <br>


    Category:
    <input name="Category" type="text" value = "<%=productInfo.Category%>">
    <br>

    Supplier:
    <input name = "Supplier" type="text" value = "<%=productInfo.Supplier%>">
    <br>

    Image:
    <br>
    <textarea name = "Image" type = "text" ><%=productInfo.Image%></textarea>
    <br>



    <button>update Product</button>

  </form>




  </script>

</body>
</html>