<%-  include("partials/head.ejs")    %>
<%- include("partials/navUserSide.ejs") %>
  <body>
    <h1>Your Shopping Cart</h1>

    <% if (cartItems.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% cartItems.forEach(function(item) { %>
            <tr>
              <td><%= item.Name %></td>
              <td><%= item.Description %></td>
              <td>$<%= item.Price %></td>
              <td><%= item.Quantity %></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <form action="/checkout" method="post">
      <button type="submit" class="btn btn-outline-primary" style=>Checkout</button>
      </form>
      <% } else { %>
        <p>Your cart is empty.</p>
      <% } %>
  </body>
  </html>