<%-  include("partials/head.ejs")    %>
<%- include("partials/navUserSide.ejs") %>
  <body>
    <% for (let i of productList) {%>
      <div class="listing-section">
      
      <div class="product">
        <div class="image-box">
          <a href="/viewCloseUp?ProductID=<%= i.ProductID %>"> <img class="images" src = "<%= i.Image %>" alt = "productimage" ></img></a>
          
        </div>
        <div class="text-box">
          <h2 class="item"><%= i.Name%></h2>
          <h3 class="price">$<%= i.Price%></h3>
          <p class="description"><%=i.Description%></p>
          <p class = "category">Category: <%= i.Category%></p>
          <p class = "supplier">Supplier: <%=i.Supplier%></p>
          <label class="item-2-quantity">Quantity:<%= i.QuantityAvailable %></label>
          <form class= "addToCart">
        <input type="hidden" name="ProductID" value="<%= i.ProductID %>">
        <input type="hidden" name="CustomerID" value="<%= i.CustomerID %>">
        <input type="number" class = "Quantity" name="Quantity" value="1" min="1" max="<%= i.QuantityAvailable %>">
        <button class = "CartBttn"type="submit">Add to Cart</button>
        </form>
        </div>
      </div>
      
      </div>
      <%} %>
    <script src="/js/add_to_cart.js"> </script>

  </body>
  </html>